<section class="b2b-section" id="b2b">
  <div class="b2b-content-wrap container">
    <div class="b2b-content">
      <h2 class="section-title">For Studios & Esports Teams</h2>
      <p class="section-subtitle">Looking to Hire or Build a Team?</p>
      <div class="b2b-wrapper">
        <img class="b2b-image" src="./img/general/b2b-img.png" alt="B2B">
        <div class="b2b-text">
          <p>Partner with Advisexa to scout talent, run skill tests, and promote openings to a qualified, engaged gaming audience. We also offer white-label onboarding kits for gaming staff.</p>
          <a href="/#contact" class="primary-button">Request B2B Access</a>
        </div>
      </div>
    </div>
  </div>
</section>