<section class="contact-section" id="contact">
  <div class="contact-content-wrap container">
    <div class="contact-content">
      <h2 class="section-title">Contact</h2>
      <p class="section-subtitle">Get in Touch</p>
      <p class="contact-text">Have a question, proposal, or just want to say hello? Reach out to our team anytime.</p>
      <ul class="contact-list">
        <li class="contact-list-item">
          <img src="./img/general/email-ico.png" class="email-icon"></img>
          <a href="mailto:info@advisexa.site" class="contact-list-link">info@advisexa.site</a>
        </li>
        <li class="contact-list-item">
          <img src="./img/general/x-ico.png" class="twitter-icon"></img>
          <a href="/#hero" class="contact-list-link">@Advisexa</a>
        </li>
        <li class="contact-list-item">
          <img src="./img/general/in-ico.png" class="linkedin-icon"></img>
          <a href="/#hero" class="contact-list-link">Advisexa</a>
        </li>
      </ul>
      <p class="contact-tags">Hashtags: #LevelUpWithAdvisexa #GamingCareers</p>
    </div>
  </div>
</section>