<section class="features-section" id="features">
  <div class="features-content-wrap container">
    <div class="features-content">
      <h2 class="section-title">Platform Features</h2>
      <p class="section-subtitle">Why Advisexa?</p>
      <ul class="features-list">
        <li class="feature-list-item">
          <p>Personalized dashboards to track your learning and performance</p>
        </li>
        <li class="feature-list-item">
          <p>Certificate-based micro-courses to build your resume</p>
        </li>
      </ul>
      <ul class="features-list2">
        <li class="feature-list-item2">
          <p>Interview simulation tools for gaming-related roles</p>
        </li>
        <li class="feature-list-item2 feature-list-second-item">
          <p>Role-specific resource libraries</p>
        </li>
        <li class="feature-list-item2">
          <p>Exclusive internship board with curated listings</p>
        </li>
      </ul>
    </div>
  </div>
</section>
