<footer class="footer-section">
  <div class="footer-content-wrap container">
    <div class="footer-content">
      <div class="footer-links">
        <a href="#" class="footer-link">Home</a>
        <a href="#" class="footer-link">Pathways</a>
        <a href="#" class="footer-link">Mentors</a>
        <a href="#" class="footer-link">Blog</a>
      </div>
      <p class="footer-copyright">© 2025 Advisexa.site | A Limited Liability Company</p>
      <div class="footer-legal">
        <a href="#" class="footer-link">Privacy Policy</a>
        <a href="#" class="footer-link">Terms & Conditions</a>
        <a href="#" class="footer-link">Cookies Policy</a>
      </div>
    </div>
  </div>
</footer>