<section class="pricing-section" id="pricing">
  <div class="pricing-content-wrap container">
    <div class="pricing-content">
      <h2 class="section-title">Membership Plans</h2>
      <p class="section-subtitle">Get Access to the Entire Platform</p>
      <ul class="pricing-list">
        <li class="pricing-list-item">
          <h3>Elite</h3>
          <p class="price">$59/month</p>
          <p class="plan-description">
            Everything in Pro + 1-on-1 mentorship, certificate issuance, private
            job board access
          </p>
          <a href="/#contact" class="primary-button">Choose Your Plan</a>
        </li>
        <li class="pricing-list-item">
          <h3>Starter</h3>
          <p class="price">$0/month</p>
          <p class="plan-description">
            Free limited access to blog and 1 career pathway preview
          </p>
          <a href="/#contact"  class="primary-button">Choose Your Plan</a>
        </li>
        <li class="pricing-list-item">
          <h3>Pro</h3>
          <p class="price">$29/month</p>
          <p class="plan-description">
            Full course access, community forum, basic mentorship
          </p>
          <a href="/#contact"  class="primary-button">Choose Your Plan</a>
        </li>
      </ul>
    </div>
  </div>
</section>
