<section class="resources-section" id="resources">
  <div class="resources-content-wrap container">
    <div class="resources-content">
      <h2 class="section-title">Resource Hub Preview</h2>
      <p class="section-subtitle">Game Industry Knowledge That Moves You Forward</p>
      <ul class="resources-list">
        <li class="resource-list-item">
          <img class="resources-img" src="./img/general/resources-img-1.png" alt="Resource">
          <p>How to Get Hired at a Game Studio with No Degree</p>
        </li>
        <li class="resource-list-item">
          <img class="resources-img" src="./img/general/resources-img-2.png" alt="Resource">
          <p>Top 10 Mistakes Aspiring Streamers Make</p>
        </li>
        <li class="resource-list-item">
          <img class="resources-img" src="./img/general/resources-img-3.png" alt="Resource">
          <p>2025 Esports Salary Trends</p>
        </li>
        <li class="resource-list-item">
          <img class="resources-img" src="./img/general/resources-img-4.png" alt="Resource">
          <p>Understanding Player Retention Metrics</p>
        </li>
      </ul>
      <a href="/#contact" class="primary-button">Browse Full Library</a>
    </div>
  </div>
</section>