<section class="workshops-section" id="workshops">
  <div class="workshops-content-wrap container">
    <div class="workshops-content">
      <h2 class="section-title">Workshops & Webinars</h2>
      <p class="section-subtitle">Interactive Training With a Competitive Edge</p>
      <ul class="workshops-list">
        <li class="workshop-list-item">
          <img src="./img/general/workshop-img-1.png" alt="Workshop">
          <p>Weekly live Q&A with game industry experts</p>
        </li>
        <li class="workshop-list-item">
          <img src="./img/general/workshop-img-2.png" alt="Workshop">
          <p>CV reviews and portfolio feedback</p>
        </li>
        <li class="workshop-list-item">
          <img src="./img/general/workshop-img-3.png" alt="Workshop">
          <p>Tactical streaming workshops</p>
        </li>
        <li class="workshop-list-item">
          <img src="./img/general/workshop-img-4.png" alt="Workshop">
          <p>Internships and how to land them</p>
        </li>
        <li class="workshop-list-item">
          <img src="./img/general/workshop-img-5.png" alt="Workshop">
          <p>Community building in competitive spaces</p>
        </li>
      </ul>
    </div>
  </div>
</section>