.header-section {
  position: fixed;
  z-index: 1000;
  left: 0;
  right: 0;
}

.header-section .header-content-wrap {
  height: 56px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: transparent;
  @include media(desktop) {
    height: 80px;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
  }
}



.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: 0 auto;
  z-index: 1001;
  background: #f6f6f6;
  opacity: 0;
  visibility: hidden;
}

.backdrop.show {
  opacity: 1;
  visibility: visible;
  display: flex;
  justify-content: center;
}

.burger-menu {
  @include media(desktop) {
    display: none;
  }
}

.close-menu {
  display: none;
  position: absolute;
  top: 20px;
  right: 18px;
}

.backdrop-list {
  display: flex; 
  flex-direction: column;
  gap: 32px;
  justify-content: center;
}


.backdrop-link {
  font-weight: 400;
font-size: 20px;
color: #fff;
}


.header-list {
  display: none;
  @include media(desktop) {
    display: flex;
    gap: 16px;
  }
}

.header-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
font-size: 20px;
color: #fff;
}

.header-link-btn {
  display: none;
  @include media(desktop) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    border-radius: 32px;
    padding: 20px 40px;
    width: 174px;
    height: 60px;
    background: #002eb0;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
  }
}
